/* #content-container {
  background-color: white;
} */

a {
  text-decoration: none;
  border-bottom-width: 0 !important ;
  outline: none;
}

ul,
ol {
  list-style: none;
}

li::before {
  display: none;
}

span[data-as="p"] {
  display: inline;
}

button {
  outline: none;
}

/* for customize content container width */
.w-8xl {
  width: 100rem;
}
.min-w-8xl {
  min-width: 100rem;
}
.max-w-8xl {
  max-width: 100rem;
}
#navbar + div {
  max-width: 100rem;
}

/* for sidebar width */
/* #sidebar {
  width: 20rem !important;
}
#content-container {
  padding-left: 2rem;
}
@media screen and (width < 1020px) {
  #content-container {
    padding-left: 0;
  }
} */

/* for customize logo in navbar  */
img.nav-logo {
  height: 2.5rem;
}
