/* #content-container {
  background-color: white;
} */

a {
  text-decoration: none;
  border-bottom-width: 0 !important ;
  outline: none;
}

ul,
ol {
  list-style: none;
}

li::before {
  display: none;
}

span[data-as="p"] {
  display: inline;
}

button {
  outline: none;
}
